@import "node_modules/azure-devops-ui/Core/_platformCommon.scss";


#root {
    height: 100%;
    width: 100%;
    display: flex;
}

.justify-space-between {
    justify-content: space-between;
}

.ms-Icon--GitLogo {
    color: rgb(240, 81, 41);
    margin-right: 4px;
}

.ms-Icon--BranchMerge {
    margin-right: 4px;
}

.branch-details-form {
    font-size: $fontSizeM;

    &-body {
        height: 80%;
        overflow: auto;
    }

    .branchNames ul {
        margin-block-start: 0px;
        margin-block-end: 0px;
    }
    
    .branchNames li {
        list-style-type: disc;
        list-style-position: inside;
    }
}
